{% extends "index.html" %}

{% block title %}
    View Task
{% endblock %}

{% block main %}

<html lang="en">
    <body>
        <h1>View Task List</h1>
        {% if tasks %}
        <table borders="1">
            <thread>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Email</th>
                    <th>Due Date</th>
                    <th>Reminder Time</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thread>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <div class="col"><td>{{ task.title }}</td></div>
                        <div class="col"><td>{{ task.description }}</td></div>
                        <div class="col"><td>{{ task.email }}</td></div>
                        <div class="col"><td>{{ task.due_date.strftime('%Y-%d-%m %H:%M') }}</td></div>
                        <div class="col"><td>{{ task.reminder_time.strftime('%Y-%d-%m %H:%M') }}</td></div>
                        <div class="col"><td>{{ 'Yes' if task.completed else 'No' }}</td></div>
                        <div class="col">
                            <td>
                            <a href="{{ url_for('update_task', id=task.id) }}" class="btn btn-primary">Update</a>
                            </td>
                        </div>
                        <div class="col">
                            <td>
                            <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST" style="display: inline;">
                                <button type='submit' class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this task?');">Delete</button>
                            </form>
                            </td>
                        </div>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p> No Tasks Available. <a href="/create">Create A Task</a>.</p>
        {% endif %}
        <a href="/">Back to Home</a>
    </body>
</html>

{% endblock %}